@import url('http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic');

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

//
// Variables
// --------------------------------------------------


//== Colors

//== Core Colors
$simplot-gray:           #675C53;
$simplot-gold:           #EBB700;
$white:                  #FFF;

//== Secondary Colors
$dark-green:             #284E36;
$light-field-green:      #3C8A2E;
$yellow-clay:            #FADD80;

//== Supporting Colors
$black:                 #000000;
$dark-brown:            #4A3C31;
$rust-orange:           #BD4F19;
$leaf-green:            #69BE28;
$dark-slate:            #988F86;
$light-slate:           #C3C8C8;
$bright-sky:            #00B0CA;
$dark-sky:              #00747A;

$mos-padding:           10% 0 0 10%; 

//== FONT SIZES 
$font-size-base:          16px !default;
$font-size-super-huge:         ceil(($font-size-base * 4)) !default;
$font-size-super-large:         ceil(($font-size-base * 3)) !default;
$font-size-xxxx-large:         ceil(($font-size-base * 2.5)) !default;
$font-size-xxx-large:         ceil(($font-size-base * 2)) !default;
$font-size-xx-large:         ceil(($font-size-base * 1.75)) !default;
$font-size-x-large:         ceil(($font-size-base * 1.5)) !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-med:         ceil(($font-size-base * 1.15)) !default;
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-x-small:         ceil(($font-size-base * 0.75)) !default; // ~12px
//Extentions 
.simplot-gray {
    color: $simplot-gray !important;
}
.all-caps {
    text-transform: uppercase; 
}
.right {
    right: 0; 
}
//Mix Ins
@mixin border-radius($border-radius...) {
    -webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	border-radius: $border-radius;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin background-size($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    background-size: $size;
    -o-background-size: $size;
}