<div id="mosaic" class="row">
            <!-- WHAT WE DO -->
            <div id="mos-wwd" class="item col-lg-5 col-md-7 col-sm-5 col-xs-12 animated fadeIn delay-1 duration-one">
                <div class="overlay mos-wwd-overlay">
                    <figure class="mos-figure mos-wwd-figure">
                        <span class="mos-subheading animated fadeIn delay-3 duration-one">We are driven to</span>
                        <h1 class="mos-heading animated fadeInLeft delay-4 duration-one">Explore.</h1>
                        <h1 class="mos-heading animated fadeInLeft delay-half duration-one">Discover.</h1>
                        <h1 class="mos-heading animated fadeInLeft delay-6 duration-one">Create.</h1>
                    </figure>
                    <span class="link mos-link"><a href="why_simplot.html">What We Do <i class="fa fa-chevron-circle-right"></i></a></span>
                    <a class="overlay-link" href="subpages.html?page=what_we_do">What we do</a>
                </div>
            </div>
            <!-- WHY SIMPLOT -->
            <div id="mos-why-simplot" class="item col-lg-7 col-md-7 col-sm-6 col-xs-12 animated fadeIn delay-2 duration-one">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 visible">
                            <figure class="mos-figure quote animated fadeIn delay-3 duration-one">
                                <em>Put bets down on the right people and give them responsibility.</em><span class="sig">- Founder J.R. Simplot</span>
                            </figure>
                        </div> 
                        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                            <img src="images/smiling_woman.jpg" class="mos-img pull-right" alt="Picture of woman smiling" />
                        </div>
                    </div>
                </div>
                <span class="link mos-link"><a href="why_simplot.html">Why Simplot <i class="fa fa-chevron-circle-right"></i></a></span>
                <div class="overlay"><a class="overlay-link" href="subpages.html?page=why_simplot">Why Simplot</a></div>
            </div>   
            <!-- APPLY -->
            <div id="mos-apply" class="item col-md-7 col-sm-6 col-xs-12">
                <div class="row apply_now animated fadeIn delay-3 duration-one">
                    <div class="col-md-12">
                        <div class="col-lg-5 col-md-12 col-sm-5">
                            <img src="images/potato_heart.jpg" class="mos-img pull-left" alt="Picture of a potato shaped heart" />
                        </div>
                        <div class="col-lg-7 col-md-12 col-sm-7 pull-left">
                            <figure class="mos-figure animated fadeIn delay-4 duration-one">
                                <h1 class="mos-heading">Join us</h1><span class="mos-subheading">in our mission to help feed the world's population.</span>
                            </figure>
                        </div>
                    </div>
                </div>
				<span class="link mos-link"><a href="why_simplot.html">Job Search &amp; Apply <i class="fa fa-chevron-circle-right"></i></a></span>
                <div class="overlay"><a class="overlay-link" href="apply_now_new.html">Search Jobs and Apply</a></div>
            </div>
            <div id="mos-student-center" class="item item-bottom col-md-4 col-sm-4 col-xs-12 animated fadeIn delay-4 duration-one">
                <figure class="mos-figure animated fadeIn delay-5 duration-one">
                    <span class="mos-subheading">Open new</span>
                    <h1 class="mos-heading">Doors.</h1>
                </figure>
                <span class="link mos-link"><a href="why_simplot.html">Student Center <i class="fa fa-chevron-circle-right"></i></a></span>
                <div class="overlay"><a class="overlay-link" href="subpages.html?page=student_center">Student Center </a></div>
            </div> 
            <div id="mos-video" class="item item-bottom col-md-4 col-sm-4 col-xs-12 animated fadeIn delay-half duration-one">
                <div class="media">
                    <div class="overlay overlay-video" data-toggle="modal" data-target="#sim-video">
                        <i class="fa fa-play-circle-o"></i>
                    </div>
                </div>
            </div> 
            <div id="mos-contact" class="item item-bottom col-md-4 col-sm-4 col-xs-12 animated fadeIn delay-6 duration-one">
                <figure class="mos-figure animated fadeIn delay-4 duration-one">
                    <span class="mos-subheading">Have something to say?</span>
                    <h1 class="mos-heading">Get in Touch.</h1>
                </figure>
                <span class="link mos-link"><a href="contact.html?page=contact_us">Contact Us <i class="fa fa-chevron-circle-right"></i></a></span>
                <div class="overlay"></div>
            </div>
        </div> 
